<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="style.css" />
    <meta charset="UTF-8">
    <title>Purchases</title>
</head>
<body>


<ul>
    {{#categories}}
    <li><a href="/?category={{category}}">{{category}}</a></li>
    {{/categories}}
    <li><a href="/?category=back">Back</a> </li>
</ul>
<table>
    <caption>Customer Purchases</caption>
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Category</th>
        <th>Credit Card</th>
        <th>CVV</th>
        <th>Date</th>
    </tr>
    </thead>
    {{#purchases}}
    <tr>
        <td>{{customer.name}}</td>
        <td>{{customer.email}}</td>
        <td>{{category.category}}</td>
        <td>{{creditCard}}</td>
        <td>{{cvv}}</td>
        <td>{{date}}</td>
    </tr>
    {{/purchases}}
</table>
{{#showPrevious}}<a href="/?page={{previousPage}}{{#category}}&category={{.}}{{/category}}">Previous</a>{{/showPrevious}}
{{#showNext}}<a href="/?page={{nextPage}}{{#category}}&category={{.}}{{/category}}">Next</a>{{/showNext}}
{{totalPages}}

</body>
</html>